body {
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.top-nav {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
}

.main {
    margin: 0 10vw 0 10vw;
    background-color: lightskyblue;
    /* auto ? */
}
.img-container {
    background-color: lightsalmon;
}

.img-text {
    width: 60vw;
}

.main-text {
    margin: auto;
    width: 600px;
}

.read-more {
    background-color: lightgoldenrodyellow;
}
.footer {
    background-color: lightgray;
}