body {
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 4vw;
    align-items: center;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border-bottom-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    background-color: white;
}
.top-nav a {
    text-decoration: none;
    color: black;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon {
    display: block;
    width: 16px;
    height: 16px;
    padding: 9px;
    margin-right: 10px;
}
.nav-icon:hover {
    background-color: lightgray;
}
#cosmos {
    font-weight: 700;
    font-size: 14.25px;
}
#cosmos:hover {
    text-decoration: underline;
    font-weight: 700;
}
.nav-title {
    font-family: 'UnifrakturMaguntia', cursive;
}

.social {
    margin-right: 50px;
}
.social button {
    background-color: rgb(86, 123, 149);
    border-color: rgb(50, 104,145);
    border-style: solid;
    border-width: 1px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    margin-right: 1px;
}

.main {
    margin: 80px 10vw 0 10vw;
    /* auto ? */
}

.img-text {
    width: 60vw;
}
.media-info {
    color: black;
    font-size: 15px;
}

.media-author {
    color: grey;
    font-size: 15px;
}
.date-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}
.date-media .date-stamp {
    font-size: 13px;
}

.header h4 a {
    color: black;
}

.media {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.media-icon svg {
    background-color: lightgrey;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}
.media-icon svg:hover {
    background-color: white;
}

.media button {
    border-style: none;
    background: none;
}

.main-text {
    margin: auto;
    width: 600px;
}
.main-text h1 {
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;

}

.read-more {
    background-color: lightgoldenrodyellow;
}
.footer {
    background-color: lightgray;
}